---
import Facebook from "./assets/Facebook.astro";
import Whatsapp from "./assets/Whatsapp.astro";

const ICONS = [
  {icon: Facebook, link: "https://www.facebook.com/repliarte"},
  {icon: Whatsapp, link: "https://wa.me/59175666666?text=Estoy%20interesado%20en%20tu%20arte%20para%20la%20venta"},
]
---

<section
  class="z-20 flex p-4 justify-between items-center w-full bg-cover bg-center bg-[url('/images/hero.png')] bg-no-repeat sticky top-0"
>
  <h1
    class="text-4xl text-white font-bold drop-shadow-[0_4px_10px_rgba(0,0,0,0.5)]"
  >
    REPLY ART
  </h1>
  <div class="flex flex-row">
    {
      ICONS.map(({icon: Icon,link}) => (
        <a
          href={link}
          target="_blank"
          rel="noopener"
          class="flex items-center justify-center p-2 rounded-full hover:bg-white hover:bg-opacity-10"
        >
          <Icon />
        </a>
      ))
    }
  </div>
</section>